.site-footer {
  clear: both;
  margin-bottom: 0;
  padding: 2.5em 0;
  color: $footer-text-color;
  background-color: $footer-bg;

  @media screen and (max-width: 800px) {
    display: block;
    padding: 2rem 1rem;
  }

}
