.header-left {
  height: 100%;
  padding: 0;
  position: fixed;
  margin-top: 30px;
  margin-left: 27px;

  @media screen and (max-width: 1220px) {
    margin-left: 30px;
  }

  @media screen and (max-width: 1100px) {
    margin-left: 25px;
  }
  
  @media screen and (max-width: 1000px) {
    margin-left: 20px;
  }

  @media screen and (max-width: 900px) {
    margin-left: 15px;
  }

  @media screen and (max-width: 800px) {
    margin-left: 0;
    padding-left: 10px;
  }

  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-top: 0;
    padding-left: 20px;
  }

  .site-menu {

    @media screen and (max-width: 800px) {
      padding-bottom: 3rem;
    }

    &.collapsed {
      padding-bottom: 0;
    }
  }

  & .menu-list {
    margin-top: 130px;
    float: unset;

    @media screen and (max-width: 800px) {
      margin-top: -10px;
    }
  }

  & .menu-item {
    float: unset;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-form {
    position: relative;
    width: 100%;
    max-width: 100%;

    @media screen and (max-width: 1400px) {
      max-width: 85%;
    }

    @media screen and (max-width: 1300px) {
      max-width: 77%;
    }

    @media screen and (max-width: 1200px) {
      max-width: 100%;
    }

    @media screen and (max-width: 900px) {
      max-width: 90%;
    }

    @media screen and (max-width: 801px) {
      max-width: 75%;
    }

    @media screen and (max-width: 768px) {
      max-width: 50%;
    }
    
    form {
      position: relative;
    }

    p {
      padding-bottom: .5rem;
      margin-bottom: 0;
      font-weight: bold;
      text-transform: capitalize;
    }

    input {
      display: inline-block;
      width: 90%!important;
      max-width: 100%;
      border-radius: 5px 0 0 5px;
      margin: 0;
      border: solid 1px #aaa;
      border-right: 0;
      font-size: 12px;
      height: 20px;
      transition: all .3s;

      &:focus, &:active {
        outline: none;
      }

      &:hover {
        border-color: $link-color;
      }
    }

    button {
      cursor: pointer;
      position: absolute;
      border: solid 1px #aaa;
      padding: .35rem;
      background: #fff;
      margin: 0;
      font-size: 16px;
      box-sizing: border-box;
      right: -38px;
      border-radius: 0 5px 5px 0;
      display: inline-block;
      height: 38px;
      width: 38px;
      top: 0;
      color: #aaa;
      transition: all .3s;

      @media screen and (max-width: 768px) {
        right: 0;
      }

      &:hover {
        background: #eee;
      }
    }
  }
}