.header-left {
  height: 100%;
  padding: 0;
  position: fixed;
  padding-left: 50px;

  @media screen and (max-width: 1000px) {
    padding-left: 20px;
  }

  @media screen and (max-width: 900px) {
    padding-left: 15px;
  }

  & .menu-list {
    margin-top: 80px;
    float: unset;

    @media screen and (max-width: 800px) {
      margin-top: -10px;
    }
  }

  & .menu-item {
    float: unset;
    display: block;
  }

}