.logo {
  //+ width: 6.3em;
  height: 1.2rem;
  
  @media screen and (max-width: 800px) {
    height: 1rem;
  }
}

.site-header {
  box-sizing: border-box;
  padding: 50px 20px;
  padding-top: 15px;
  background-color: $navbar-bg;

  /*
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 20rem;
  text-align: center;
  */

  & a.is-active {
    color: $navbar-active-link-color;
    font-weight: $weight-bold;
  }

  & a {
    color: $navbar-link-color;

    &:focus,
    &:hover {
      color: $navbar-active-link-color;
    }
  }

  @media screen and (max-width: 800px) {
    position: relative;
    width: 100%;
    padding: 0;
    padding-left: 15px;
  }

  @media print {
    display: none;
  }

}

.header-menu {
  float: right;
  display: inline;
  height: auto !important;
  width: auto;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin-right: 15px;

    a.active {
      color: #000 !important;
      border-bottom: 2px solid #ccc;
    }
  }
}

.title {
  font-size: $size-4;
  font-weight: $weight-bold;
  margin: 0;
  float: left;

  @media screen and (max-width: 800px) {
    margin-top: .7rem;
    margin-bottom: .7rem;
  }
}

.menu-toggle {
  display: none;
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;
  font-size: $size-4;
  background-color: transparent;
  transition: all $easing $speed;
  color: $toggle-menu-icon-color;

  @media screen and (max-width: 800px) {
    position: absolute;
    top: .7rem;
    right: 1rem;
    display: block;
  }
}

.site-menu {
  text-transform: uppercase;

  & .menu-list {
    list-style: none;
    padding: 0;
    float: right;
    margin-top: -10px;
  }

  & .menu-item {
    float: left;
    padding: 1rem 1rem;

    @media screen and (max-width: 800px) {
      width: 100%;
      padding: .5rem 1rem;
    }

    & a {
      display: inline-block;
      height: 1.5rem;
      line-height: 1.5;

      @media screen and (max-width: 800px) {
        display: block;
      }
    }
  }

  &.collapsed {
    @media screen and (max-width: 800px) {
      max-height: 0;
    }
  }

  @media screen and (max-width: 800px) {
    overflow-y: hidden;
    max-height: 1000px;
    width: 100%;
    transition: max-height $easing $speed;
  }
}

.social-menu {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  font-size: 0;

  & .social-list {
    padding: 0;
    list-style: none;
    line-height: 2;
  }

  & .social-item {
    display: inline-block;
    font-size: 1rem;
  }

  & li + li {
    padding-left: 1rem;
  }

  &.collapsed {
    @media screen and (max-width: 800px) {
      margin: 0 auto;
      max-height: 0;
    }
  }

  @media screen and (max-width: 800px) {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2rem auto;
    max-height: 125px;
    overflow-y: hidden;
    transition: all $easing $speed;
  }

  @media screen and (min-width: 800px) and (max-height: 768px) {
    display: none;
  }
}

