html {
  line-height: 1.618;
  font-family: $family-sans-serif;
  font-size: 16px;
}

body {
  text-rendering: optimizeLegibility;
  color: $text;
  background-color: $main-background;
  font-feature-settings: "liga"on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  font-family: apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

.main {
  box-sizing: border-box;
  /*
  position: relative;
  margin-left: 20rem;
  border-right: 1px solid $main-border;
  border-left: 1px solid $main-border;
  box-shadow: 0 1px 4px $box-shadow;
  background: $main-background;
  padding: 1rem 2rem;
  width: calc(100% - 20rem);
  max-width: 70rem;
  min-height: 100vh;
  */
  max-width: 100%;
  width: 680px;
  margin: 0 auto;
  clear: both;

  & .list-footer {
    padding: 1.5rem 0;
  }

  @media print,
  screen and (max-width: 800px) {
    margin-left: 0;
    border-top: 1px solid $main-border;
    border-right: none;
    border-bottom: 1px solid $main-border;
    border-left: none;
    padding: 0 1rem;
    width: 100%;
    min-height: initial;
  }
}

.no-padding {
  padding: 0!important;
}

.container .row {
  margin: 0 auto;
}

.container {
  
  @media only screen and (min-width: 48em) {
    width: 46rem!important;
  }

  @media only screen and (min-width: 64em) {
    width: 64rem!important;
  }
}

a {
  opacity: 0.8;
  text-decoration: none;
  color: $text-strong;
  transition: all .5s;

  &:focus,
  &:hover {
    opacity: 1;
    outline: none;
    color: $black-ter;
  }
}

.btn {
  border: none;
  color: $btn-color;
  text-align: center;
  background-color: $btn-bg;
  padding: 0.5rem 2rem;
  display: inline-block;
  transition: all .5s;
  cursor: pointer;

  &:hover {
    background-color: lighten($btn-bg, 5%);
  }
}
