<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>

  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- Page Title -->
  <title>
    {{- block "title" . -}}
      {{ if eq .Kind "page" }}{{ .Title }}{{ else if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>

  <!-- Shared Head -->
  {{ partial "head.html" . }}

  <!-- Polyfill for old browsers -->
  {{ partial "polyfill.html" . }}

</head>
  <body>
    {{ $navigation := .Site.Params.header_navigation | default "top"}}
    {{ if eq $navigation "top"}}
    
    {{ partial "header-top.html" . }}

    {{ if ne .Kind "404" }}
    <div class="suspension">
      <a role="button" aria-label="Go to top" title="Go to top" class="to-top is-hide"><span class="icon icon-up" aria-hidden="true"></span></a>
      {{ if and (eq .Type "post") (eq .Kind "page") }}
        {{ if .Site.DisqusShortname }}
        <a role="button" aria-label="Go to comments" title="Go to comments" class="to-comment" href="#disqus_thread"><span class="icon icon-comment" aria-hidden="true"></span></a>
        {{ else if .Site.Params.Gitment }}
        <a role="button" aria-label="Go to comments" title="Go to comments" class="to-comment" href="#gitment-container"><span class="icon icon-comment" aria-hidden="true"></span></a>
        {{ else }}{{ end }}
      {{ end }}
    </div>
    {{ end }}
    
    {{ block "main" . }}{{ end }}
    
    {{ else if eq $navigation "left" }}
  <div class="container-fluid no-padding">
    <div class="row" style="margin: 0;">
      <div class="col-sm-2 col-xs-12 no-padding site-header">
        {{ partial "header-left.html" . }}
      </div>
      <div class="col-sm-10 col-xs-12 no-padding">
      {{ block "main" . }}{{ end }}
      </div>
    </div>
  </div>
    {{ end }}

  </body>
</html>
