{{ define "title" }}
{{ if eq .Data.Singular "tag" }}Tag → {{ .Data.Term }}
{{ else if eq .Data.Singular "category" }}Category → {{ .Data.Term }}
{{ else }}Posts{{ end }}
{{ if isset .Site.Params "seotitle" }} | {{ .Site.Params.seotitle }}{{ else }} | {{ .Site.Title }}{{ end }}
{{ end }}

{{ define "main" }}
{{ partial "header.html" . }}

{{ partial "category-menu.html" . }}

<section class="">
  <header class="list-header offscreen">
    <h2 class="list-label">Posts List</h2>
  </header>
  <div class="container">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") (index .Site.Params "paginate" | default 10) }}

    {{ partial "post-box.html" . }}

  </div>

  {{ if gt $paginator.TotalPages 1 }}
  <footer class="list-footer">
    <nav class="pagination">
      <h3 class="offscreen">Pagination</h3>
      {{ if $paginator.HasPrev }}
      <a class="pagination-previous" href="{{ $paginator.Prev.URL }}">← Newer Posts</a>
      {{ end }}
      {{ if $paginator.HasNext }}
      <a class="pagination-next" href="{{ $paginator.Next.URL }}">Older Posts →</a>
      {{ end }}
    </nav>
  </footer>
  {{ end }}
</section>
{{ partial "footer.html" . }}
{{ end }}