@import 'partials/reset';
@import 'partials/variables';
@import 'partials/icons';
@import 'partials/skeleton';
@import 'partials/form';
@import 'partials/header';
@import 'partials/button';
@import 'partials/summary';
@import 'partials/paginator';
@import 'partials/posts';
@import 'partials/content';
@import 'partials/footer';
@import 'partials/shortcodes';
@import 'partials/page';
@import 'partials/table';
@import 'partials/syntax';
@import 'partials/links';
@import 'partials/misc';
@import 'partials/terms';
@import 'partials/resume';
@import 'partials/extend';
